doctype 5
head
  title Global Hackerspaces Status Wall
  != css('style')
  block scripts
  != partial('google-analytics.ejs')
body
  block content
  footer
    a(href="https://github.com/trevorpower/hackerspaces-status-wall") Source
    |  by 
    a(href="http://trevorpower.com") Trevor Power
    |  of 
    a(href="http://milklabs.ie") miLKlabs
