doctype 5
head
  title Global Hackerspaces Status Wall
  link(href=process.env.LOGO_BASE_URL, rel="logos")
  link(href="http://fonts.googleapis.com/css?family=Galindo|Cantora+One",
    rel="stylesheet", type="text/css")
  != css('style')
  block scripts
  != partial('google-analytics.ejs')
body
  block content
  footer
    a(href="https://github.com/trevorpower/hackerspaces-status-wall") Source
    |  by 
    a(href="http://trevorpower.com") Trevor Power
    |  of 
    a(href="http://milklabs.ie") miLKlabs
    br
    a(href="https://trello.com/b/I6gqOnHM")
      | Ideas and Future Plans
    br
    | Please 
    a(href="https://github.com/trevorpower/hackerspaces-status-wall/issues?state=open")
      | Report Issues
    
