extends layout

block scripts
  script(src='http://ajax.aspnetcdn.com/ajax/knockout/knockout-2.2.1.js', type='text/javascript')
  != js('logs')

block content
  section#events
    h1 Events
    ul(data-bind="foreach: events")
      li(data-bind="css: priority")
        .details
          .activity(data-bind="text: activity")
          .event(data-bind="text: event")
          .date(data-bind="text: new Date(date).toLocaleDateString()")
          .time(data-bind="text: new Date(date).toLocaleTimeString()")
        .content(data-bind="text: details")
