body {
  color: #FFFFFF;
  background: #000000;
  margin: 0px;
  padding: 0px;
  font-family: helvetica;
}

header {
  width: 100%;
  text-align: center;
  h1 {
    margin: { left: auto; right: auto; }
  }
}

#spaces {
  padding: 0px;
  margin: 0px;
  li {
    padding: 6px;
    display: block;
    list-style-type: none;
    float: left;
    overflow: hidden;
    background-origin: content-box;
    section {
      text-align: center;
      opacity: 0.9;
      width: 260px;
      height: 260px;
      border: dotted 2px red;
      background: #000000;
      h1 {
        margin: 3px;
      }
      h2 {
        font-size: 11pt; 
        margin: 2px;
      }
    }
    section.unknown {
      border: dashed 2px orange;
      img { display: none; }
    }
    section.open {
      border: solid 2px green;
    }
  }
}

#loading {
  clear: both;
}
