body {
  color: #FFFFFF;
  background: #000000;
  margin: 0px;
  padding: 0px;
  font-family: helvetica;
  text-align: center;
}

a {
  color: #666699;
}

footer {
  margin: 40px;
}

#spaces {
  padding: 0px;
  margin: 0px;
  li {
    display: block;
    list-style-type: none;
    float: left;
    width: 100%;
    .tile {
      section {
        overflow: hidden;
        text-align: center;
        margin: 0px;
        padding: 0px;
        opacity: 0.9;
        background: #000000;
        h1 {
          margin: 3px;
        }
        h2 {
          font-size: 11pt; 
          margin: 2px;
        }
        height: 260px;
      }
    }
    .tile.open {
    }
  }
}

#loading {
  text-align: center;
  margin: 60px;
  padding-top: 40px;
  clear: both;
  h1 {
    background-color: #222222;
    padding: 10px;
    margin: 0px;
  }
  ul {
    padding: 0px;
    margin: 0px;
    text-align: left;
    li {
      h2 {
        font-size: 18px;
        padding-bottom: 0px;
        margin-bottom: 0px;
      }
      a {
        color: #666699;
      }
      .details {
        font-family: monospace;
        white-space: pre-wrap;
      }
      background-color: #222222;
      list-style-type: none;
      margin: 0px;
      padding: 10px;
      padding-top: 0px;
      border-top: dotted 1px #000000;
    }
    li.success {
      h2 {
        color: green;
      }
    }
    li.error {
      h2 {
        color: red;
      }
    }
    li.warning {
      h2 {
        color: orange;
      }
    }
  }
}

@media screen and (min-width: 600px){
  #spaces{ li { width: 50% } } 
}

@media screen and (min-width: 900px){
  #spaces{ li { width: 33.33% } } 
}

@media screen and (min-width: 1200px){
  #spaces{ li { width: 25% } } 
}

@media screen and (min-width: 1600px){
  #spaces{ li { width: 20% } } 
}

@media screen and (min-width: 2000px){
  #spaces{ li { width: 16.66% } } 
}
