extends layout

block scripts
  != js('wall')
  script(type="text/javascript")
    var directory = !{JSON.stringify(directory)};
  link(rel="stylesheet",href="http://cdn.leafletjs.com/leaflet-0.4.5/leaflet.css")
  script(src="http://cdn.leafletjs.com/leaflet-0.4.5/leaflet.js")
block content
  header
    h1 Global Hackerspaces Status Wall
    section #{total} spaces in directory
  section#tweets
    h1 Tweets
    ul
  section#map
    h1 Map
    div#mapview
  section#open
    h1 Open
    ul
  section#about
    h1 About
    :markdown
      Various [hackerspaces](http://en.wikipedia.org/wiki/Hackerspace) from
      around the world implement the
      [HackerSpace Status API](http://hackerspaces.nl/spaceapi/) and make
      the endpoint available on the web.
      This API is designed to make information about the space available
      for consumption by other software.
      
      This page uses a directory of such endpoints and combines information
      in various ways to produce the above content.
