extends layout

block scripts
  link(href=process.env.LOGO_BASE_URL, rel="logos")
  link(href=process.env.MAP_BASE_URL, rel="tiles")
  != js('wall')
  link(rel="stylesheet",href="http://cdn.leafletjs.com/leaflet-0.4.5/leaflet.css")
  script(src="http://cdn.leafletjs.com/leaflet-0.4.5/leaflet.js")
  script(type="text/javascript")
    var total = #{total};
block content
  header
    h1 Global Hackerspaces Status Wall
  section#summary
    h1 Dashboard
  section#map
    h1 Map
    div#mapview
    div#pageScroll
  section#tweets
    h1 Tweets
    ul
  section#open
    h1 Open
    ul
  section#about
    h1 About
    :markdown
      Various [hackerspaces](http://en.wikipedia.org/wiki/Hackerspace) from
      around the world implement the
      [HackerSpace Status API](http://hackerspaces.nl/spaceapi/) and make
      the endpoint available on the web.
      This API is designed to make information about the space available
      for consumption by other software.
      
      This page uses a directory of such endpoints and combines information
      in various ways to produce the above content.
