extends layout

block scripts
  != js('wall')
  script(type="text/javascript")
    var directory = !{JSON.stringify(directory)};
  script(id="spacetile", type="text/x-jquery-tmpl")
    li      
      .tile(style="background-image: url({{=logo}}); background-clip: content-box;", class="{{=state}}")
        section
          h1 {{=space}}
          img(src="{{=state_icon}}")
          h2 {{=status}}
          ul
            li
              a#web(href="{{=url}}") Web
              | {{#if contact}}
            li
              a#email(href="mailto://{{=contact.ml}}") Email
            li
              a#twitter(href="http://twitter.com/{{=contact.twitter}}") Twitter
              | {{/if}}
  script(id="progress", type="text/x-jquery-tmpl")
    li(id='{{=name}}')
      details
        summary {{=name}}
        a(href='{{=url}}') {{=url}}
        ul
  
block content
  header
    h1 Global Hackerspaces Status Wall
    section #{total} spaces in directory
  section#tweets
    h1 Tweets
    ul
  section#spaces
    ul#spaces
  section#loading
    h1 Status API Status
    ul
