extends layout

block scripts
  link(href=process.env.LOGO_BASE_URL, rel="logos")
  link(href=process.env.MAP_BASE_URL, rel="tiles")
  != js('wall')
  script(type="text/javascript")
    var total = #{total};
    var locations = !{JSON.stringify(locations)};
block content
  header
    h1 Global Hackerspaces Status Wall
  section#summary
    h1 Dashboard
  section#map
    h1 Map
    div#mapview
    div#pageScroll
  section#tweets
    h1 Tweets
    ul
  section#open
    h1 Open
    ul
  section#about
    h1 About
    :markdown
      This page shows **real-time** status information for
      [hackerspaces](http://en.wikipedia.org/wiki/Hackerspace)
      from around the world.

      Information about global hackerspaces is periodically pulled from the
      following sources:

      + [Hackerspace Status API Directory](http://hackerspaces.nl/spaceapi/)
      + [Individual hackerspace implemented status APIs](http://hackerspaces.nl/spaceapi/)
      + [The Hackerspace Wiki](http://hackerspaces.org)

      This page updates in real-time with information from the following
      sources:

      + [Individual hackerspace implemented status APIs](http://hackerspaces.nl/spaceapi/)
      + [Twitter](http://twitter.com)
