@primary1: #FF5300;
@primary2: #BF5E30;
@primary3: #A63600;
@primary4: #FF7E40;
@primary5: #FFA073;

@secondarya1: #FFC200;
@secondarya2: #BF9D30;
@secondarya3: #A67E00;
@secondarya4: #FFD140;
@secondarya5: #FFDD73;

@secondaryb1: #B40098;
@secondaryb2: #872277;
@secondaryb3: #750062;
@secondaryb4: #D936C0;
@secondaryb5: #D962C7;

@complement1: #00AB6F;
@complement2: #20805E;
@complement3: #006F48;
@complement4: #35D59D;
@complement5: #60D5AC;
