// Color Palette by Color Scheme Designer
// Palette URL: http://colorschemedesigner.com/#0g41Tnnvvw0w0
// Color Space: RGB; 

@primary1: #FB7A44;
@primary2: #BC7455;
@primary3: #A34016;
@primary4: #FD9C72;
@primary5: #FDB697;

@secondarya1: #FBAE44;
@secondarya2: #BC9155;
@secondarya3: #A36816;
@secondarya4: #FDC372;
@secondarya5: #FDD297;

@secondaryb1: #3470A2;
@secondaryb2: #3B5D79;
@secondaryb3: #114169;
@secondaryb4: #66A0D0;
@secondaryb5: #82ADD0;

@complement1: #2EAB79;
@complement2: #3A8064;
@complement3: #0F6F48;
@complement4: #60D5A4;
@complement5: #7FD5B2;
