@import 'colours';

footer {
  background: @primary1;
  margin: 0px;
  padding: 0px;
  padding-top: 10px;
  padding-bottom: 10px;

  border-bottom: @primary2 dashed 4px;
  border-top: @primary2 dashed 4px;

  color: #DDDDDD;
  font-family: 'Galindo', cursive;

  a {
    color: @primary5;
  }
}
