.headerfooter(@color4, @color5) {
  color: #EEEEEE;
  border: @color4 dotted 8px;
  font-family: 'Galindo', cursive;
  margin: 8px;
  a { color: @color5; }
  text-align: center;
  padding: 0px;
  h1 { font-size: 38px; }
  font-size: 20px;
  line-height: 220%;
  padding-top: 12px;
  padding-bottom: 12px;
}

.headerfootersmall() {
  h1 { font-size: 26px; }
  font-size: 14px;
  border-width: 6px;
}

