.map (@color1, @color2, @color3, @color4, @color5) {

  .section(@color1, @color2, @color3);

  @height: 360px;

  padding: 30px;
  
  .leaflet-popup-content {
    color: @color1;
  } 

  #mapview {
    height: @height;
  }

  #pageScroll {
    background-color: @color1;
    display: none;
  }
}

.map-small(@height) {
  padding: 0px;
  #mapview { height: @height; }
  #pageScroll {
    display: block;
    position: absolute;
    right: 0px;
    top: 0px;
    bottom: 0px;
    width: 60px;
  }
}
