
.open (@color1, @color2, @color3, @color4, @color5) {

  .section(@color1, @color2, @color3);

  @width: 140px;

  ul {
    margin: 0px;
    padding: 5px;
    padding-top: 10px;
    height: 450px;
    vertical-align: top;
 
    li {
      list-style-type: none;  
      display: inline-block;
      vertical-align: top;
      margin: 4px;
      padding: 0px;
      width: @width;
      height: 230px;
      position: relative;
      text-align: center;
      background-color: @color4;

      .name {
        font-weight: bold;
        color: @color3;
        display: block;
        text-align: center;
        width: @width;
        height: 50px;
        padding: 2px;
      }

      img {
        max-width: @width - 6;
        max-height: 90px;
        display: block;
        margin: auto;
      }

      .status {
        display: block;
        bottom: 0px;
        text-align: center;
        width: @width;
        position: absolute;
        color: @color3;
      }
    }

  }
}
