.open (@color1, @color2, @color3, @color4, @color5) {

  .section(@color1, @color2, @color3);

  height: 450px;
  padding: 20;

  li {
    list-style-type: none;  
    display: inline;
    width: 90px;

    .name {
      font-wieght: bold;
    }

    img {
      max-width: 90px;
      max-height: 90px;
    }

    .status {
    }
  }
}
