body {
  color: #FFFFFF;
  background: #000000;
  margin: 0px;
  padding: 0px;
  font-family: helvetica;
  text-align: center;
}

a {
  color: #666699;
}

.section-h1 (@background: null, @border: null) {
  font-family: 'Galindo', cursive;
  background: @background;
  border: @border solid 4px;
  size: 18px;
  color: DDDDDD;
  position: absolute;
  top: -45px;
  left: 30px;
  border-radius: 10px;
  z-index: 200;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 6px;
  padding-bottom: 3px;
}

@import "header";
@import "tweets";
@import "spaces";
@import "directory";
@import "footer";
