@import "headerfooter";
@import "summary";
@import "map";
@import "tweets";
@import "open";
@import "about";

@import "colours";
@textcolor: #EEEEEE;

body {
  color: @textcolor;
  background: @primary1;
  margin: 0px;
  padding: 0px;
  font-family: 'Helvetica', sans-serif;

  > header, > footer {
    .headerfooter(@textcolor, @primary4, @primary5);
  }
}

@import "section";

#open {
  .open(@secondarya1, @secondarya2, @secondarya3, @secondarya4, @secondarya5);
}

#summary {
  .summary(@secondarya1, @secondarya2, @secondarya3, @secondarya4, @secondarya5);
}

#map {
  .map(@complement1, @complement2, @complement3, @complement4, @complement5);
}

#tweets {
  .tweets(@textcolor, @secondaryb1, @secondaryb2, @secondaryb3);
}

#about {
  .about(@secondaryb1, @secondaryb2, @secondaryb3, @secondaryb4, @secondaryb5)
}

.touch {
  #map { .map-touch(); }
}

@media only screen and (max-width: 700px) {
  body {
    > header, > footer { .headerfootersmall(); }
  }
  #summary { .sectionsmall(); }
  #map { .sectionsmall(); }
  #tweets { .tweetssmall(); .sectionsmall(); }
  #open { .sectionsmall(); }
  #about { .aboutsmall(); .sectionsmall(); }
}

@media only screen and (max-height: 375px) {
  #map { .map-small(300px); }
}

@media only screen and (max-height: 315px) {
  #map { .map-small(250px); }
}
