#tweets {

  .section(@secondaryb1, @secondaryb2, @secondaryb3);
  text-align: center;

  color: #FFFFFF;
  height: 300px;
  overflow: hidden;

  a {
    color: #FFFFFF;
    font-weight: bold;
  }

  ul {
    position: absolute;
    bottom: 0px;
    left: 0px;
    margin: 0px;
    padding: 0px;
    width: 100%;
    li {
      list-style-type: none;
      overflow: hidden;
      width: 100%;
      margin: 0px;
      padding: 0px;
      position: relative;
      height: 110px;
      a {
        position: absolute;
        text-decoration: none;
        width: 190px;
        display: block;
        span {
          width: 190px;
          display: block;
        }
      }
      .text {
        display: block;
        margin-left: 200px;
      }
      .time {
        display: block;
        margin-left: 200px;
        font-size: 12px;
        color: #BBBBBB;
      }
    }
  }
}

#tweets {
  overflow: visible;
  height: 450px;
  position: relative;
}
